<%- include('./partials/header') %>
<%- include('./partials/left-panel') %>

<div class="column is-8-desktop">
    <div class="columns m-2">
    <% authors.forEach((author)=>{ %>
    <div class="column is-5">
        <section class="profile is-justify-content-center is-align-items-center">
            <div class="card">
                <div class="card-image">
                 <figure class="image is-128x128">
                     <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                   </figure>
                </div>
                <div class="card-content">
                 <div class="media">
                     <div class="media-left">
                         <figure class="image is-48x48">
                             <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                           </figure>
                     </div>
                     <div class="media-content">
                         <p class="title"><%=author.firstName %> </p>
                         <p class="subtitle"><%=author.country%> </p>
                         
                     </div>
                 </div>
                 <div class="content">
                     <%= author.description %> 
                 </div>
                </div>
             
               <p></p>
            </div>
         </section>
    </div>
    <%})%>
</div>
    <div class="is-flex is-justify-content-center is-align-items-center">
        
        <button class="button is-primary"><a href="/author/create" style="font-family:inherit;color:inherit; text-decoration:inherit;font-size:inherit">
            New Author
        </a></button>
    </div>
</div>


<%- include('./partials/footer') %>