<%- include('./partials/header') %>
    <%- include('./partials/left-panel') %>

<div class="column is-8-desktop">
    <div class="block">
        <h1>Home</h1>
    <p><%=homeTxt%></p>
    </div>
    <div><p class="is-size-4 is-flex is-justify-content-center is-align-items-center">Latest Posts</p></div>
    <% data.blog_posts.forEach((val)=>{ %>
        <div class="block">
            <h3 class="is-size-5"><%=val.title%></h3> 
        <p class="is-size-6"><%= under_.unescape(val.content.substring(0,100)+'...') %> <a href="<%=val.url%>">Read more</a></p>
        </div>
    <%})%>
</div>

    <%- include('./partials/right-panel') %>
<%- include('./partials/footer') %>